@font-face {
  font-family: 'MonoLisa';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/static/fonts/MonoLisa-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'MonoLisa';
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url('/static/fonts/MonoLisa-RegularItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'MonoLisa';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('/static/fonts/MonoLisa-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'MonoLisa';
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: url('/static/fonts/MonoLisa-BoldItalic.woff2') format('woff2');
}
